stages:
  - docker-build
#  - jenkins_build

variables:
#  #TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
#  #TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""
  #DOCKER_TLS_CERTDIR: "/certs"
  #DOCKER_TLS_VERIFY: 1
  #DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

 
docker-build:
  services:
    - docker:20.10.7-dind
#  variables:
#    DOCKER_HOST: tcp://docker:2376
#    DOCKER_CERT_PATH: "/certs/client"
  image: docker:latest
  stage: docker-build
  tags:
    - nexdata-k8s
  before_script:
    - ls -al
    - echo $DOCKER_PWD | docker login --username=$DOCKER_ACC --password-stdin
  script:
    - docker build -t $DOCKER_ACC/nginx:latest .
    - docker push

#jenkins-build:
#  image: ubuntu:18.04
#  stage: jenkins_build
#  tags:
#    - beta-kubernetes
#  script:
#    - |
#      apt-get update && apt install -y curl
