stages:
  - docker-build
#  - jenkins_build
  
docker-build:
  services:
    - docker:20.10.7
  image: docker:latest
  stage: docker-build
  tags:
    - nexdata-k8s
  before_script:
    - ls -al
    - echo $DOCKER_PWD | docker login --username=$DOCKER_ACC --password-stdin
  script:
    - docker build -t $DOCKER_ACC/nginx:latest .
    - docker push

#jenkins-build:
#  image: ubuntu:18.04
#  stage: jenkins_build
#  tags:
#    - beta-kubernetes
#  script:
#    - |
#      apt-get update && apt install -y curl
